{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <style>
        body{
            background-color: rgb(160, 236, 236);
            align-content: center;
        }
        p{ 
            margin-left: 800px;
        }
        h1{
            text-align: center;
            color: rgb(226, 69, 61);
        }

    </style>
	<title>Forgot Password</title>
</head>
<body>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <h1>Forgot Password</h1>
        <p>Please enter the email address associated with your account and we will send you a link to reset your password.</p>
        <div class="col-md-5 col-lg-3 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">
                <form  method="post">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" class="form-control form-control-lg">
                        <label class="form-label" for="email" required >Email</label>
                    </div>

                    <div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="submit">Reset Password</button>
                    </div>
                    <!-- <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br>
                    <button type="submit">Reset Password</button> -->
                </form>
            </div>
        </div>
        <p>If you do not receive an email within a few minutes, please check your spam folder or contact us at [insert contact information].</p>
    </div>
</body>
</html>
{% endblock %}