{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<!DOCTYPE html>
<html align="center">
<head>
<title>{% trans "Login Form" %}</title>
</head>
<body>
  <section  class="vh-100" style="background-color: #9A616D; margin-top: 55px;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4">{% trans "Login" %}</p>
                  <form method="POST">
                    {% csrf_token %}
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">{% trans "Sign into your account" %}</h5>
  
                    <div class="form-outline mb-4">
                      <input type="username" id="email" name="email" class="form-control text-center" required autofocus>
                      <label class="form-label" for="email">{% trans "Email address" %}</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="password" name="password" class="form-control text-center">
                      <label class="form-label" for="password" required >{% trans "Password" %}</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">{% trans "Login" %}</button>
                    </div>
  
                    <a class="small text-muted" href="{% url 'forgot' %}">{% trans "Forgot password?" %}</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">{% trans "Don't have an account?" %} <a href="{% url 'registr' %}" style="color: #393f81;">Register here</a></p>
                    <a href="{% url 'terms' %}" class="small text-muted">{% trans "Terms of use" %}.</a>
                    <a href="{% url 'policy' %}" class="small text-muted">{% trans "Privacy policy" %}</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
{% endblock %}