{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<html>
<head>
	<title>{% trans "Forgot Password" %}</title>
</head>
<body style="background-color: rgb(160, 236, 236);">
    <div class="row" style="margin-top: 100px;margin-left: 100px;">
        <h2>{% trans "Password reset email sent" %}</h2>
        <p>{% trans "We have sent you an email with instructions on how to reset your password." %}</p>

        <p>{% trans "If you do not receive an email within a few minutes, please check your spam folder or contact us at [insert contact information]." %}</p>
    </div>
</body>
</html>
{% endblock %}
